body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
.accordion-container {
    width: 80%;
    margin: 0 auto;
}
.accordion-item {
    max-width: 90vw;
    margin: 0 auto;
}
b {
    color: red;
}

/* Estilo para tablets */
@media screen and (max-width: 1024px)
{
 
}

/* Estilo para celulares */
@media screen and (max-width: 767px)
{

}

