

.general-container{
 display: grid;
 gap: 32px;
 grid-template-columns: 2fr 1fr;
 height: auto;
 
 min-height: unset;
 margin-bottom: 60px;
 margin: 32px 40px 44px;
 
}

.div-left{
    
    background-color: #fff;
    border-radius: 6px;
     min-height: 400px;
     align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 16px 0;
    text-align: center;
    width: 100%;
    
}

button[type="submit"] {
    background-color: #228cff; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 19px; /* Tamaño de la fuente */
    padding: 10px; /* Espaciado interno */
    border: 1px solid #228cff; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    border-radius: 5px; /* Radio del borde para bordes redondeados */
    text-align: center; /* Alineación del texto */
    width: 100%;
    display: block;
    line-height: 20px; 
    outline: none;
}


.up{
    font-size: 18px;
    width: 328px;
    margin-bottom: 8px;
}

.down{
    color: rgba(0, 0, 0, .55);
    font-size: 16px;
    width: 328px;
    margin-bottom: 8px;
}