:root {
    --primary-color: #2E3464;
    --bg-color: #00000059;
    --secondary-color: #23617F;
    --third-color: #C6ECEF;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: "Kanit", Arial;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}


.general-container{
 display: grid;
 gap: 32px;
 grid-template-columns: calc(100% - 392px) auto;
 height: auto;
 margin-bottom: 60px;
 margin: 32px auto 44px;
 max-width: 1200px;
 min-height: unset;
 
}

.div-left{
    
    background-color: #84848451;
    border-radius: 6px;
     min-height: 400px;
     align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 16px 0;
    text-align: center;
    width: 100%;
    
}

button[type="submit"] {
    background-color: #228cff; /* Color de fondo */
   
    font-size: 16px; /* Tamaño de la fuente */
    padding: 0 24px; /* Espaciado interno */
    border: 1px solid #228cff; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    border-radius: 6px; /* Radio del borde para bordes redondeados */
    text-align: center; /* Alineación del texto */
    width: 100%;
    display: block;
    line-height: 48px; 
    outline: none;
    font-weight: 600;
    height: 48px;
    
}

.div-left a{
    text-decoration:none;
    color: #fff;
}

.up{
    font-size: 18px;
    width: 328px;
    margin-bottom: 8px;
}

.down{
    color: rgba(0, 0, 0, .55);
    font-size: 16px;
    width: 328px;
    margin-bottom: 8px;
    
}


.div-right{
    background: #00000089;
        box-shadow: none;
        margin: 0;
        border-radius: 6px;
        height: fit-content;
        padding: 20px 0 24px;
        margin-bottom: 16px;
        margin-top: 0;
}

.box-buy{
    padding: 0 24px;
    margin-bottom: 20px;
    line-height: 20px;
}


.buy{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.separator{
    margin-bottom: 20px;
    background: rgba(0, 0, 0, .1);
    height: 1px;
    margin: 0;
    width: 100%;
}

.box-span{
    padding: 0 24px;
}

.pity-text{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.25);

}