:root {
    --primary-color: #2E3464;
    --bg-color: #00000059;
    --secondary-color: #178C9B;
    --third-color: #C6ECEF;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: "Kanit", Arial;
}

* {
    /*EVITAMOS EL DESBORDE DE CONTENIDO*/
    box-sizing: border-box;

    /*SE SACAN LOS MARGENES Y SE CENTRA EL DOCUMENTO HORIZONTALMENTE*/
    margin: 0 auto;

    /*Scroll efecto suave*/
    scroll-behavior: smooth;
}

body{
    background: #FFEFBA;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: var(--primary-font);

}

.container{
width: 100vw;
}

header{
    top: 0;
    width: 100%;
    height: auto;
}

.header-up {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left-wrapper {
    width: 70%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.right-wrapper {
    width: 30%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 150px;
}

/*-------------------------------------*/

/*Colocar etiqueta i dentro del input*/

.input-wrapper {
    position: relative;
    width: 271px;
}

.input-search {
    box-sizing: border-box;
    color: #191919;
    padding: 15px 15px 15px 35px;
    width: 100%;
    transition: border-color 0.3s;
}

#icon-search {
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 50%;
    transform: translateY(-50%);
}

/*-------------------------------------*/

.input-search:hover {
    border-color: var(--primary-color);
}

.right-wrapper button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.right-wrapper button:hover {
    animation: grow 0.5s forwards;
    background-color: var(--primary-color);
}

@keyframes grow {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
    }

}

.cart-wrapper i {
    font-size: 2rem;
    color: var(--secondary-color);
    transition: color 0.3s;
}

.cart-wrapper i:hover {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    height: inherit;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    padding: 10px 100px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: var(--third-color);
    transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
    font-size: 1.5rem;
    transition: color .3s;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a:hover {
    color: var(--primary-color);
}

.banner{
    width: 100%;
}

.d-block {
    height: 450px;
}

.featured {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
}

.featured h2 {
    padding: 30px 30px 5px 30px;
    color: var(--primary-color);
    border-bottom: 2px var(--secondary-color) solid;
    font-size: 1.5rem;
    width: 95%;
    text-align: left;
    margin-bottom: 35px;
}

.featured-wrapper {
    width: 80%;
    height: 300px;
    border: 3px var(--secondary-color) solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(46, 52, 100, 0.5);
    margin-bottom: 50px;
    animation: changeColorBorder 1s alternate infinite;
}

@keyframes changeColorBorder {
    0% {
        border-color: var(--secondary-color);
    }

    100% {
        border-color: var(--primary-color);
    }
}

footer {
    height: 150px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
}

.copyright p {
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
    color: var(--white-color);
    margin: 0;
    padding: 10px;
}

.socialNetworks-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px var(--third-color) solid;
}

.socialNetworks-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialNetworks-wrapper ul li {
    display: inline-block;
    padding: 10px;
}

.socialNetworks-wrapper ul li a {
    font-size: 2rem;
    color: var(--third-color);
    transition: color 0.3s;
}

.socialNetworks-wrapper ul li a:hover {
    color: var(--primary-color);
}

.contact-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px var(--third-color) solid;
}

.contact-wrapper h3 {
    font-size: 1.5rem;
}

.contact-wrapper h3 a {
    text-decoration: none;
    color: var(--third-color);
    padding: 10px;
    transition: color 0.3s;
}

.contact-wrapper h3 a:hover {
    color: var(--primary-color);
}

.workWithUs-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workWithUs-wrapper h3 {
    font-size: 1.5rem;
}

.workWithUs-wrapper h3 a {
    text-decoration: none;
    color: var(--third-color);
    padding: 10px;
    transition: color 0.3s;
}

.workWithUs-wrapper h3 a:hover {
    color: var(--primary-color);
}