:root {
    --primary-color: #2E3464;
    --bg-color: #00000059;
    --secondary-color: #23617F;
    --third-color: #C6ECEF;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: "Kanit", Arial;
}

* {
    /*EVITAMOS EL DESBORDE DE CONTENIDO*/
    box-sizing: border-box;

    /*SE SACAN LOS MARGENES Y SE CENTRA EL DOCUMENTO HORIZONTALMENTE*/
    margin: 0 auto;

    /*Scroll efecto suave*/
    scroll-behavior: smooth;

}


body {
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
}


header {
    top: 0;
    width: 100%;
    height: auto;
background-color: black;

    /* background: #00a6a6;
    
    background: -webkit-linear-gradient(to right, #00a6a6, #2E3563);
   
    background: linear-gradient(to right, #00a6a6, #2E3563); */
    
}

.header-up {

    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-wrapper {
    width: 70%;
    height: inherit;
    display: flex;
    justify-content: space-around;
    
}

.right-wrapper {
    
    height: inherit;
    display: flex;
    
    align-items: center;
}

.logo{
    
    display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  
  
  
}

.logo img {
    
    height: 100px;
    
}

/*-------------------------------------*/

/*Colocar etiqueta i dentro del input*/

.input-wrapper {
    position: relative;
    width: 35%;
    display: flex;
    align-items: center;
    
}
.search-icon{
    position: absolute;
    left: 0;
    padding: 0 15px;
}
.input-search {
    box-sizing: border-box;
    color: #191919;
    padding: 9px 15px 9px 35px;
    width: 100%;
    transition: border-color 0.3s;
    border-radius: 20px;
    border: none;
}

#icon-search {
    color: #191919;

}

/*-------------------------------------*/

.input-search:hover {
    border-color: var(--primary-color);
}

.right-wrapper button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    transition: background-color 0.3s;
    font
}

.right-wrapper button:hover {
    animation: grow 0.5s forwards;
    background-color: var(--primary-color);
}

.cart-wrapper{
    margin: 0;
}

.cart-wrapper i {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.cart-wrapper i:hover {
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 45px;
}

nav ul {
    list-style-type: none;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 10px 100px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: black;
    transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
    font-size: 1.3rem;
    transition: color .3s;
    text-transform: uppercase;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a:hover {
    color: var(--primary-color);
}

.banner {
    width: 100%;
}

.d-block {
    height: 450px;
}

.featured {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
}

.featured h2 {
    padding: 30px 30px 5px 30px;
    color: var(--primary-color);
    border-bottom: 2px var(--secondary-color) solid;
    font-size: 1.5rem;
    width: 95%;
    text-align: left;
    margin-bottom: 35px;
}

.featured-wrapper {
    width: 80%;
    height: 300px;
    border: 3px var(--secondary-color) solid;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(46, 52, 100, 0.5);
    margin-bottom: 50px;
    animation: changeColorBorder 1s alternate infinite;
}

@keyframes changeColorBorder {
    0% {
        border-color: var(--secondary-color);
    }

    100% {
        border-color: var(--primary-color);
    }
}

footer {
    height: 150px;
    width: 100%;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
}

.copyright p {
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
    color: var(--white-color);
    margin: 0;
    padding: 10px;
}

.socialNetworks-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px var(--third-color) solid;
}

.socialNetworks-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialNetworks-wrapper ul li {
    display: inline-block;
    padding: 10px;
}

.socialNetworks-wrapper ul li a {
    font-size: 2rem;
    color: var(--third-color);
    transition: color 0.3s;
}

.socialNetworks-wrapper ul li a:hover {
    color: var(--primary-color);
}

.contact-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px var(--third-color) solid;
}

.contact-wrapper h3 {
    font-size: 1.5rem;
}

.contact-wrapper h3 a {
    text-decoration: none;
    color: var(--third-color);
    padding: 10px;
    transition: color 0.3s;
}

.contact-wrapper h3 a:hover {
    color: var(--primary-color);
}

.workWithUs-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workWithUs-wrapper h3 {
    font-size: 1.5rem;
}

.workWithUs-wrapper h3 a {
    text-decoration: none;
    color: var(--third-color);
    padding: 10px;
    transition: color 0.3s;
}

.workWithUs-wrapper h3 a:hover {
    color: var(--primary-color);
}



.aBtn {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    background-color: #2E3563;
    /* border: 1px solid transparent; */
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-right: 0;
    margin-left: 5px;
    font-size: 15px;
    font-weight: 100;
}
.aBtn:hover {
    background-color:#00a6a6;
}



/* -----------BOTON DE LOGIN----------- */


.icon-person{
    margin-right: 0;
    display: flex;
    align-items: center;
}

.dropi{
    margin: 0;
    padding: 0;
}
.fas.fa-user {
    font-size: 24px;

}



ul.dropi li{
    display: inline-block;
    position: relative;

}

ul.dropi li a{
    display: block;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
   /*  text-align: center; */
   margin: 0;
}


ul.dropi li ul.dropdown li{
    display: block;
    background: #ffffff;
    margin: 2px 0px;
border-radius: 30px;
width: 150px;
height: 40px;

text-align: center;
}

ul.dropi li ul.dropdown{
    width: auto;
    background:none;
    position: absolute;
    z-index: 999;
    display: none;
    
}

ul.dropi li a{
    color: black;
    
}

ul.dropi li a:hover{
    background: #222;
   
}

ul.dropi li:hover ul.dropdown{
    display:block ;
    margin: 0;
    padding: 0;
    
}


ul.dropi li button{
    margin: 0;
    border:none;
    background-color: transparent;
    color: #fff;
    height: 48px;
    padding: 0;
}