:root {
    --primary-color: #2E3464;
    --bg-color: #00000059;
    --secondary-color: #23617F;
    --third-color: #C6ECEF;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: "Kanit", Arial;
}

* {
    /*EVITAMOS EL DESBORDE DE CONTENIDO*/
    box-sizing: border-box;

    /*SE SACAN LOS MARGENES Y SE CENTRA EL DOCUMENTO HORIZONTALMENTE*/
    /* margin: 0 auto; */

    /*Scroll efecto suave*/
    scroll-behavior: smooth;

}

       
/* tablet */
.banner-carousel-medium{
    display: none;
}
.featured3{
    display: none;
}


/* pc */
.banner-carousel {
    display: block;
} 

.conteiner-carrousel{
    display: block;
}


/* cel */
.banner-carousel-small {
    display: none;

}

.featured2{
display: none;
}


/* ............................ */

    .banner {
        display:block;
        width: 90%;
        margin: auto;
    align-items: center;
    }

    .carousel-item {
        width: 100%;
        height: 100%;
        
    }

    .carousel-item img {
        width: 100%;
        height: auto;
        
    }

    .banner-carousel .carousel-inner {
        overflow: hidden;
    }
    
    .carousel-inner {
        display: flex;
        align-items: center;
    }

    .carousel-item {
        transition: transform 0.6s ease-in-out;
        height: auto;
    }

    .carousel-item img {
        transition: transform 0.6s ease-in-out;
        
    }

 
body {
    background: #ADA996;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    width: 100vw;
    overflow-x: hidden;
}





/* ------------headerr----------- */
header {
    width: 100%;
    height: auto;
    background-color: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    margin: 0;
}




.header-up {

    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;
}



.logo {

    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.logo img {

    height: 100%;
    width: auto;
}



/*---------------buscador--------------*/

.input-wrapper {
    position: relative;
    width: 40%;
    display: flex;
    align-items: center;

}

.search-icon {
    position: absolute;
    right: 0;
    padding: 0 15px;
}

.input-search {
    box-sizing: border-box;
    color: #191919;
    padding: 9px 15px 9px 35px;
    width: 100%;
    transition: border-color 0.3s;
    border-radius: 20px;
    border: none;
}

#icon-search {
    color: #191919;

}



.input-search:hover {
    border-color: var(--primary-color);
}


/* -----------icon-person----------- */




.right-wrapper button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--white-color);
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.right-wrapper button:hover {
    animation: grow 0.5s forwards;
    background-color: var(--primary-color);
}

.cart-wrapper {
    margin: 0;
}

.cart-wrapper i {
    font-size: 24px;
    color: #fff;
    transition: color 0.3s;
}

.cart-wrapper i:hover {
    color: #0077f9;
}

/* ------NAV------- */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 45px;
}

nav ul {
    list-style-type: none;
    height: inherit;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline-block;
    padding: 10px 100px;
}

nav ul li a {
    padding: 10px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s, border-radius 0.3s, color 0.3s;
    font-size: 1.3rem;
    transition: color .3s;
    text-transform: uppercase;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a:hover {
    text-decoration: underline;

}
/* ................... */




.h1top h1{
    display: none;
}





.conteiner-carrousel {
    padding: 20px;
}



.featured {
    width: 90%;
    display: flex;
    align-items: center;
    height: auto;
    flex-direction: column;
margin: auto;
}

.cont h2 {

    color: black;
    border-bottom: 2px black solid;
    font-size: 1.5rem;
    width: 90%;
    text-align: left;
    margin: 20px auto;

    padding-bottom: 10px;
    font-weight: 400;
}

.card-body p {

    font-size: 1.25rem;
}


/* ----------------carousel 2------------- */
.featured input {
    display: none;
}

.catalogo {
    width: 90vw;
    overflow: hidden;

    position: relative;
}

.carousele {
    display: flex;
}

.carousele input {
    display: none;
}

.carousele .carousele-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* ----------------------------------------- */
.carousele .carousele-item {
    width: 17.45vw;
    
    flex: 0 0 auto;
    display: flex;
    justify-content: center;

   

    box-sizing: border-box;

    margin-right: 10px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}


.card {
    overflow: hidden; 
border-radius: 20px;
}

.card-img-top{
    width: 100%;
    height: 100%; 
    object-fit: cover;
}




.button-right{
    position: absolute;
    right: 71px;
}
.button-left{
  position: absolute;
  left: 71px;
  z-index: 1;
}

#buy-icon {
    margin-right: 5px;
}


.btn-primary {
    background-color: #fff;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    cursor: pointer;
    display: block;
    font-size: 19px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;

}

.btn-primary:hover {
    background-color: #000000;
    color: #fff;

}





#next:checked~.catalogo .carousele-track {
    transform: translateX(-90vw);
}

#prev:checked~.catalogo .carousele-track {
    transform: translateX(0);
}

.controls {
    display: flex;
    justify-content: space-between;

    margin-top: 10px;
    align-items: center;

}

.controls label {
    background:#000000 ;
    color: #fff;

    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    text-align: center;
   
    justify-content: center; 
    align-items: center; 
    width: 50px;
    
    height: 50px;
    display: flex;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgb(0, 0, 0, 100%);
    opacity: 0.7;
}



@keyframes changeColorBorder {
    0% {
        border-color: var(--secondary-color);
    }

    100% {
        border-color: var(--primary-color);
    }
}



/* --------------FOOTER--------------- */
footer {
    height: 100px;
    width: 100%;
    background-color: rgb(20, 20, 20);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.copyright {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: auto;
}

.copyright p {
    font-size: 0.7rem;
    letter-spacing: 0.5rem;
    color: var(--white-color);
    margin: 0;
    padding: 10px;
}

.socialNetworks-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px var(--white-color) solid;
}

.socialNetworks-wrapper ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.socialNetworks-wrapper ul li {
    display: inline-block;
    padding: 10px;
}

.socialNetworks-wrapper ul li a {
    font-size: 2rem;
    color: var(--white-color);
    transition: color 0.3s;
}

.socialNetworks-wrapper ul li a:hover {
    color: var(--primary-color);
}

.contact-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px var(--white-color) solid;
}

.contact-wrapper h3 {
    font-size: 1.5rem;
}

.contact-wrapper h3 a {
    text-decoration: none;
    color: var(--white-color);
    padding: 10px;
    transition: color 0.3s;
}

.contact-wrapper h3 a:hover {
    color: var(--primary-color);
}

.workWithUs-wrapper {
    height: 100%;
    width: 33.33%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workWithUs-wrapper h3 {
    font-size: 1.5rem;
}

.workWithUs-wrapper h3 a {
    text-decoration: none;
    color: var(--white-color);
    padding: 10px;
    transition: color 0.3s;
}

.workWithUs-wrapper h3 a:hover {
    color: var(--primary-color);
}






/* -----------BOTON DE LOGIN----------- */

.conteiner-icons {
    display: flex;
    width: 30%;
    align-items: center;
    flex-direction: row;
}



.icon-person {
    margin: 0 20px 0 50px;
}

.dropi {
    margin: 0;
    padding: 0;
}

.fas.fa-user {
    font-size: 24px;

}

.dropbtn i:hover {
    color: #0077f9;
}




ul.dropi li {
    display: inline-block;
    position: relative;

}

ul.dropi li a {
    display: block;
    padding: 10px 25px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    /*  text-align: center; */
    margin: 0;
}

/* color fondo 1ra */
ul.dropi li ul.dropdown li {
    display: block;
    background-color: #fff;



}

ul.dropi li ul.dropdown {
    width: auto;
    background: transparent;
    position: absolute;
    z-index: 999;
    margin-left: -60px;
    padding: 0;
    opacity: 0;
    /* Comienza oculto */
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s, max-height 0.3s ease-in-out;
    /* Añade la transición */

}


/* posicion del drop */
ul.dropi li:hover ul.dropdown {

    margin-left: -60px;
    padding: 0;
    background: transparent;
    opacity: 1;
    /* Hace visible */
    visibility: visible;

}



/* color letra */
ul.dropi li a {
    color: black;

    width: 150px;

    margin: 2px 0px;
    text-align: center;

}

/* color  fondo 2da */
ul.dropi li a:hover {
    background-color: #000000;
    color: #fff;

}



/* icono persona */
ul.dropi li button {
    margin: 0;
    border: none;
    background-color: transparent;
    color: #fff;
    height: 48px;
    padding: 0;
}
 

.nav2{
    display: none;
}



/* Estilo para tablets */
@media screen and (max-width: 1024px) {
    .header-up {
        flex-direction: column;
        height: auto;
    }
    
    .logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    .logo img {
        height: 20vw;
    }
    
    .input-wrapper {
        width: 90%;
        margin-bottom: 10px;
    }
    
    .right-wrapper {
        width: 100%;
        justify-content: center;
        margin:0;
    }
    nav {
        height: auto;
    }
    
.conteiner-icons{
    width: auto;
}
.icon-person{
    margin: 0px 20px 0px 0px;
}
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    nav ul li a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
    }

    .banner {
        width: 100%;
    }

    .featured {
        width: 100%;
    }

    .carousele .carousele-item {
        width: 90%;
    }

    /* Media queries para footer responsive */

    footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .socialNetworks-wrapper, .contact-wrapper, .workWithUs-wrapper {
        width: 100%;
        height: auto;
        border-right: none;
        border-bottom: 1px var(--white-color) solid;
        padding: 10px 0;
    }

    .workWithUs-wrapper {
        border-bottom: none;
    }
   
}

/* Estilo para celulares */
@media screen and (max-width: 480px) {
    .header-up {
        flex-direction: column;
        height: auto;
    }
    
    .logo {
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
    
    .input-wrapper {
        width: 90%;
        margin-bottom: 10px;
    }
    
    .right-wrapper {
        width: 100%;
        justify-content: center;
        margin: 0;
    }
    
    .icon-person {
        margin: 0 20px 0 50px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    nav ul li {
        padding: 10px 0;
        width: 100%;
        text-align: center;
    }

    .banner {
        width: 100%;
    }

    .featured {
        width: 100%;
    }

    .carousele .carousele-item {
        width: 90%;
    }

    .conteiner-icons {
        width: 100%;
        justify-content: space-around;
    }
    
    .input-search {
        width: 100%;
        padding: 9px 15px;
    }
    
    .dropi {
        margin: 0;
    }

    .copyright p {
        font-size: 0.6rem;
        letter-spacing: 0.3rem;
    }


    .navbar {
        background-color: #f8f9fa;
      }
      
      .navbar.navbar-nav.nav-link {
        font-size: 16px;
        color: black;
      }
      
      .navbar.navbar-nav.nav-link:hover {
        color: #007bff; 
      }
      
      .nav2{
        display: block;
      }
      .nav1{
        display: none;
      }

      /* Media queries para footer responsive */

      footer {
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;

    }

    .socialNetworks-wrapper {
        width: 100%;
        border-bottom: 1px solid var(--white-color);
        padding-bottom: 10px;
    }

    .socialNetworks-wrapper ul {
        flex-direction: column;
        gap: 10px;
    }

    .socialNetworks-wrapper ul li {
        padding: 5px;
    }

    .contact-wrapper, .workWithUs-wrapper {
        width: 100%;
        padding: 10px 0;
    }

    .contact-wrapper {
        border-bottom: 1px solid var(--white-color);
    }

    .workWithUs-wrapper {
        padding-top: 10px;
    }

    .socialNetworks-wrapper ul li a {
        font-size: 1.5rem;
    }
}

.copyright {
    text-align: center;
    padding: 10px;
    background-color: #222;
    color: white;
    width: 100%;
}







