:root {
    --primary-color: #2E3464;
    --bg-color: #00000059;
    --secondary-color: #178C9B;
    --third-color: #C6ECEF;
    --white-color: #fdf5ef;
    /* fuentes */
    --primary-font: "Kanit", Arial;
}

.contenedor {
    width: 100%;
    box-sizing: border-box;
}

main {
    width: 100%;
}

.product-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: auto;
}

.product-image {
    width: 36%;
    margin: 2%;
    height: inherit;
}

.product-image img {
    width: 25rem;
}

.product-info {
    width: 56%;
    margin: 2%;
    height: inherit;
}

.nameProduct-wrapper {
    width: 100%;
    border-bottom: 1px rgb(20, 20, 20) solid;
    margin-bottom: 1rem;
}

.nameProduct-wrapper h1 {
    font-size: 2rem;
    font-weight: lighter;
}

.priceProduct-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px rgb(20, 20, 20) solid;
}

.priceProduct-wrapper h2 {
    letter-spacing: 0.2rem;
    color: rgb(20, 20, 20);
    font-weight: 750;
    font-size: 1.5rem;
}

.priceProduct-wrapper h3 {
    color: #0077f9;
    font-size: 1.2rem;
    font-weight: 400;
}

.warrantyProduct-wrapper {
    width: 100%;
    margin-bottom: 1rem;
    border-bottom: 1px rgb(20, 20, 20) solid;
    flex-direction: column;
}

.warrantyProduct-wrapper .text-wrapper {
    width: 98%;
}

.warrantyProduct-wrapper .text-wrapper h3,
#text,
#warranty {
    display: inline-block;
    font-size: 1rem;
    color: green;
}

.warrantyProduct-wrapper .text-wrapper h3 {
    margin-left: 1%;
    margin-right: 1%;
}

.product-info button {
    font-size: 19px;
    padding: 15px;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.product-info button:hover {
    background-color: #000000;
    color: #fff;
}

.product-info button i {
    margin: 5px;
}

.product-specifications {
    width: 100%;
}

.product-specifications {
    width: 100%;
}

.generalSpecifications-wrapper,
.storageSpecifications-wrapper,
.screenSpecifications-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-wrap: wrap;
    padding: 1.5% 5%;
}

.generalSpecifications-wrapper h2 {
    font-size: 1.3rem;
    width: 100%;
    font-family: var(--primary-font);
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0.5%;
    color: var(--white-color);
    border-radius: 5px;
}

.generalSpecifications-wrapper span {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: black;
    border-bottom: 1px rgb(20, 20, 20) solid;
    padding: 3px;
}

.generalSpecifications-wrapper .right {
    text-align: right;
    width: 50%;
}

.generalSpecifications-wrapper .left {
    align-items: left;
    width: 50%;
}

.storageSpecifications-wrapper h2 {
    font-size: 1.3rem;
    width: 100%;
    font-family: var(--primary-font);
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0.5%;
    color: var(--white-color);
    border-radius: 5px;
}

.storageSpecifications-wrapper span {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: black;
    border-bottom: 1px rgb(20, 20, 20) solid;
    padding: 3px;
}

.storageSpecifications-wrapper .right {
    text-align: right;
    width: 50%;
}

.storageSpecifications-wrapper .left {
    align-items: left;
    width: 50%;
}

.screenSpecifications-wrapper h2 {
    font-size: 1.3rem;
    width: 100%;
    font-family: var(--primary-font);
    background-color: rgb(20, 20, 20);
    margin: 0;
    padding: 0.5%;
    color: var(--white-color);
    border-radius: 5px;
}

.screenSpecifications-wrapper span {
    display: block;
    width: 100%;
    font-size: 1rem;
    color: black;
    border-bottom: 1px rgb(20, 20, 20) solid;
    padding: 3px;
}

.screenSpecifications-wrapper .right {
    text-align: right;
    width: 50%;
}

.screenSpecifications-wrapper .left {
    align-items: left;
    width: 50%;
}

/* Estilo para tablets */
@media screen and (max-width: 1024px) {

    main {
        flex-direction: column;
    }

    main .product-wrapper {
        flex-direction: column;
    }

    main .product-image {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    main .product-image img {
        width: 60%;
    }

    main .product-info {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .nameProduct-wrapper,
    .priceProduct-wrapper,
    .warrantyProduct-wrapper {
        width: 100%;
    }

    .nameProduct-wrapper h1{
        font-size: 1.8rem;
    }

    .priceProduct-wrapper h2{
        font-size: 2rem;
    }

    .priceProduct-wrapper h3{
        font-size: 1.2rem;
    }

    .warrantyProduct-wrapper .text-wrapper h3{
        font-size: 1rem;
    }

    .warrantyProduct-wrapper .text-wrapper i{
        font-size: 1rem;
    }

    /* button{
        width: 40%;
    } */

}

@media screen and (max-width: 768px) {

    
    main {
        flex-direction: column;
    }

    main .product-wrapper {
        flex-direction: column;
    }

    main .product-image {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    main .product-image img {
        width: 60%;
    }

    main .product-info {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .nameProduct-wrapper,
    .priceProduct-wrapper,
    .warrantyProduct-wrapper {
        width: 100%;
    }

    .nameProduct-wrapper h1{
        font-size: 1.5rem;
    }

    .priceProduct-wrapper h2{
        font-size: 1.8rem;
    }

    .priceProduct-wrapper h3{
        font-size: 1rem;
    }

    .warrantyProduct-wrapper .text-wrapper h3{
        font-size: 0.8rem;
    }

    .warrantyProduct-wrapper .text-wrapper i{
        font-size: 0.8rem;
    }

   /*  button{
        width: 40%;
    }
 */
    .product-specifications h2{
        font-size: 1rem;
    }

    .product-specifications span{
        font-size: 0.8rem;
    }

}

/* Estilo para celulares */
@media screen and (max-width: 480px) {

        
    main {
        flex-direction: column;
    }

    main .product-wrapper {
        flex-direction: column;
    }

    main .product-image {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    main .product-image img {
        width: 60%;
    }

    main .product-info {
        width: 90%;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .nameProduct-wrapper,
    .priceProduct-wrapper,
    .warrantyProduct-wrapper {
        width: 100%;
    }

    .nameProduct-wrapper h1{
        font-size: 1.2rem;
    }

    .priceProduct-wrapper h2{
        font-size: 1.5rem;
    }

    .priceProduct-wrapper h3{
        font-size: 0.8rem;
    }

    .warrantyProduct-wrapper .text-wrapper h3{
        font-size: 0.8rem;
    }

    .warrantyProduct-wrapper .text-wrapper i{
        font-size: 0.8rem;
    }

    .product-wrapper button{
        width: 40%;
        font-size: 0.8rem;
    }

    .product-specifications h2{
        font-size: 1rem;
    }

    .product-specifications span{
        font-size: 0.6rem;
    }





}