

.create-acount{
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       height: 100vh;
    }

.title{
        font-size: 30px;
    font-weight: 400;
text-align: center;
margin: 0;
padding:70px 0;
}


    
.video-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenido {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding: 20px;
}   




.font-group{
    margin: 10px;
    border: 1px solid black;
    border-radius: 20px;
    min-width: 20vw;
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    background-color: #ffff;
}


.form-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
  
    padding:20px ;
    margin: 0;
}

 
.input-container{
    position:relative;
   display:flex;
   align-items: center;
   margin: 0;

}



.form-group input::placeholder{
    font-size: 14px;
    font-weight: 400;
}




.form-group input{
    height: 2.8rem;
    font-weight: 200;
    padding-right: 30px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    padding: 3.75px 7.5px;
    width: 100%;  
    border-radius: 20px;
    border-width: 1px;
    
}


.icono-container {
    cursor: pointer;
    position: absolute;
    align-items: center;
    right: 0;
    padding: 0 15px;
    opacity:0.5 ;
    
}

#nuevo-icono2 {
    display: none;
}


#password2{
    -webkit-text-security: disc;
}

#toggle-password2:checked ~ #password2 {
    -webkit-text-security: none;

}


#toggle-password2:checked ~ .icono-container #nuevo-icono2 {
    display: block;
}
#toggle-password2:checked ~ .icono-container #icono-original2 {
    display: none;
}



/*           */




#nuevo-icono{
    display: none;
}




#password{
    -webkit-text-security: disc;
}

#toggle-password:checked ~ #password {
    -webkit-text-security: none;

}


#toggle-password:checked ~ .icono-container #nuevo-icono {
    display: block;
}
#toggle-password:checked ~ .icono-container #icono-original {
    display: none;
}

button[type="submit"] {
    background-color: #228cff; /* Color de fondo */
    color: #fff; /* Color del texto */
    font-size: 19px; /* Tamaño de la fuente */
    padding: 12px; /* Espaciado interno */
    border: 1px solid #228cff; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    border-radius: 20px; /* Radio del borde para bordes redondeados */
    text-align: center; /* Alineación del texto */
    width: 100%;
    display: block;
    line-height: 20px; 
    outline: none;
}

button[type="submit"]:hover {
    background-color: #000; /* Cambia el fondo a negro */
    color: #fff; /* Mantiene las letras blancas */
    font-size: 19px; /* Tamaño de la fuente */
    padding: 12px; /* Espaciado interno */
    border: 1px solid black; /* Sin borde */
    cursor: pointer; /* Cursor de mano al pasar el mouse */
    border-radius: 20px; /* Radio del borde para bordes redondeados */
    text-align: center; /* Alineación del texto */
    width: 100%;
    display: block;
    line-height: 20px; 
    outline: none;
    
}



.login a {
    display: block;
    font-size: 13px;
    margin: 15px 0;
    font-size: 13px;
    margin: 15px 0; */
    cursor: pointer;
    text-align: center;
    opacity:0.6;
    text-decoration: none;
    color: black;
}





