<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NOTEBOOK LENOVO LEGION 5</title>
    <!-- Link Favicon -->
    <link rel="shortcut icon" href="../static/img/icon.ico" type="image/x-icon">
    <!--Estilos Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!--Estilos propios-->
    <link rel="stylesheet" href="../static/css/index.css">
    <link rel="stylesheet" href="../static/css/producto1.css">
    <!--Link FontAwesome-->
    <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"></script>
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/fa04600604.js" crossorigin="anonymous"></script>
    <!--  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/6en8XCp+HHAAK5GSLf2xlYtvJ8U2Q4U+9cuEnJoa3" crossorigin="anonymous">

</head>

<body>

    <div class="contenedor">
        <header>
            <div class="header-up">

                <div class="logo"> <a href="../index.html"><img src="../static/img/newicon3.2.png"
                            class="responsive-image" alt="logo"></a>
                    <!-- <a href="#"><img src="./static/img/newicon3.2.png" class="responsive-image movil" alt="logo"></a> -->
                </div>


                <div class="input-wrapper">
                    <input class="input-search" placeholder="Buscador"> <!-- type="search" -->
                    <label class="search-icon">
                        <i class="fa-solid fa-magnifying-glass" id="icon-search"></i>
                    </label>
                </div>


                <div class="conteiner-icons">
                    <div class="icon-person">
                        <ul class="dropi">
                            <li><button class="dropbtn">
                                    <i class="fas fa-user"></i>
                                </button>
                                <ul class="dropdown">
                                    <li><a href="../templates/login.html">Login</a></li>
                                    <li><a href="../templates/register.html">Register</a></li>

                                </ul>
                            </li>
                        </ul>
                    </div>


                    <div class="right-wrapper">
                        <!-- <a href="./templates/register.html" class="aBtn">Creá tu cuenta</a>
                    <a href="./templates/login.html" class="aBtn">Ingresá</a> -->
                        <div class="cart-wrapper"><a href="../templates/carrito.html"><i
                                    class="fa-solid fa-cart-shopping"></i></a></div>
                    </div>
                </div>

            </div>
            <!-- ----------------------------- -->
            <div class="nav1">
                <nav>


                    <ul>
                        <li><a href="../templates/productos.html">Productos</a></li>
                        <li><a href="./servicios.html">Servicios</a></li>
                        <li><a href="../templates/ayuda.html">Ayuda</a></li>
                    </ul>

                </nav>



            </div>
            <!-- ----------------------- -->

            <div class="nav2">

                <nav class="navbar navbar-expand-sm navbar-ligth nav-bar">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#mynavbar" aria-expanded="true">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse" id="mynavbar">
                            <ul class="navbar-nav me-auto">
                                <li class="nav-item ">
                                    <a class="nav-link" href="../templates/productos.html"
                                        style="font-size: 16px; color: black;">Productos</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="/templates/servicios.html" style="font-size: 16px; color: black;">Servicios</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="../templates/ayuda.html"
                                        style="font-size: 16px; color: black;">Ayuda</a>
                                </li>

                            </ul>

                        </div>

                    </div>

                </nav>
                <!-- ------------------------- -->


            </div>





        </header>

        <main>
            <div class="product-wrapper">

                <section class="product-image">
                    <img src="../static/img/product-1.jpg" alt="Netbook Lenovo">
                </section>

                <section class="product-info">
                    <div class="nameProduct-wrapper">
                        <h1>Notebook Gamer Lenovo Legion 5 15ACH6A WQHD 2K 15.6" R5 5600H 16GB (2x8GB) 512GB SSD NVME
                            RX6600M 8GB W11 165Hz Silver</h1>
                    </div>

                    <div class="priceProduct-wrapper">
                        <h2>
                            Precio especial: $ 1.119.990
                        </h2>
                        <h3>
                            12 cuotas sin interes de $129.248,92
                        </h3>
                        <h3>
                            Precio de lista: $1.550.987
                        </h3>
                    </div>

                    <div class="warrantyProduct-wrapper">
                        <div class="text-wrapper">
                            <i class="fa-solid fa-shield-halved" id="warranty"></i>
                            <h3>Garantía por 12 meses</h3>
                        </div>
                        <div class="text-wrapper">
                            <i class="fa-solid fa-check" id="text"></i>
                            <h3>Stock disponible</h3>
                        </div>
                        <div class="text-wrapper">
                            <i class="fa-solid fa-truck" id="text"></i>
                            <h3>Envíos a todo el país</h3>
                        </div>
                    </div>

                    <button><i class="fa-solid fa-cart-shopping"></i>Agregar al carrito</button>

                </section>

            </div>

            <section class="product-specifications">
                <div class="generalSpecifications-wrapper">
                    <h2>Características generales</h2>
                    <div class="left">
                        <span>COLOR</span>
                        <span>SISTEMA OPERATIVO</span>
                        <span>TIPO DE CPU</span>
                        <span>TIPO DE GPU</span>
                        <span>BATERÍA EXTRAÍBLE</span>
                        <span>MODELO GPU</span>
                        <span>MODELO CPU</span>
                        <span>MEMORIA GPU</span>
                    </div>
                    <div class="right">
                        <span>Stingray</span>
                        <span>Windows 11 Home</span>
                        <span>AMD</span>
                        <span>AMD Radeon</span>
                        <span>No</span>
                        <span>Radeon RX 6600M</span>
                        <span>Ryzen 5 5600H</span>
                        <span>8 gb</span>
                    </div>
                </div>
                <div class="storageSpecifications-wrapper">
                    <h2>Almacenamiento</h2>
                    <div class="left">
                        <span>SLOT M2</span>
                        <span>CAPACIDAD HD</span>
                        <span>TIPO DE M.2</span>
                        <span>CAPACIDAD SÓLIDO</span>
                        <span>LECTOR DE MEMORIAS</span>
                    </div>
                    <div class="right">
                        <span>Si</span>
                        <span>0 gb</span>
                        <span>NVME</span>
                        <span>512 gb</span>
                        <span>No</span>
                    </div>
                </div>
                <div class="screenSpecifications-wrapper">
                    <h2>Pantalla</h2>
                    <div class="left">
                        <span>TAMAÑO DE LA PANTALLA</span>
                        <span>TIPO DE DISPLAY</span>
                    </div>
                    <div class="right">
                        <span>15.60 pulgadas</span>
                        <span>IPS</span>
                    </div>
                </div>
            </section>

        </main>

        <footer>
            <div class="socialNetworks-wrapper">
                <ul>
                    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-tiktok"></i></a></li>
                    <li><a href="#"><i class="fa-brands fa-youtube"></i></a></li>
                </ul>
            </div>
            <div class="contact-wrapper">
                <h3><a href="../templates/contacto.html">Contactános</a></h3>
            </div>
            <div class="workWithUs-wrapper">
                <h3><a href="#">Trabajá con nosotros</a></h3>
            </div>
        </footer>

        <section class="copyright">
            <p>E-CODE Gamer. Todos los derechos reservados. 2024</p>
        </section>




    </div>

    <!--Script Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>